body {
  background: #000;
  color: #efefef;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 14px;
}

#cr-stage {
  border: 2px solid black;
  margin: 5px auto;
  color: white;
}

#sidebar {
  width: 720px;
  height: 5em;
  list-style: none;
  font-size: 12px;
  margin: 5px auto;
  padding: 0;
  overflow: auto;
}
#sidebar li {
  line-height: 1em
}
